
a {
  
  color: #000 !important;
  text-decoration: underline !important;
}
.table-responsive {
  
  display:table !important;
  
  margin:0 auto 2rem;
 
}



.container {
  
  width: 850px;
  margin: 2rem auto;
  border:1px solid #999;
 overflow-x: scroll;

 
}

.withSideLabels {
	
	 padding:0 3rem;
}

.container::before {
  
  content:"LMS content viewport";
  padding:0.5rem;
 
}

table {
	
	position: relative;
	
}


th {
  
  border: 1px solid #ccc;
  margin: 20px 0;
  padding:10px !important;
  font-size: 14px;
  font-weight: bold;
  min-width: 2.625rem;
  text-align: center;
  
}

td {
  

	
  
}

.borderDark tr td, .borderDark tr th {
	
	border: 1px solid #333;
}

.width50 {
	
	width:50%;
	
}

.width75 {
	
	width:75%;
}

.inner {
	
margin: 0;
padding:0 !important;
	
}

.innerTable {
	
	width:100%;
	border-collapse: collapse;
	
}



.innerTable td {
  border: 1px solid #dee2e6; 
}
.innerTable tr:first-child td {
  border-top: 0;
}
.innerTable tr td:first-child {
  border-left: 0;
}
.innerTable tr:last-child td {
  border-bottom: 0;
}
.innerTable tr td:last-child {
  border-right: 0;
}

.vertical_text_from_top {
	
writing-mode: vertical-rl;
 
	
}

 .vertical_text_from_top span

{
	 transform: rotate(-90deg); 
	display: inline-block;
	padding:0.1rem 0;
	
}

.block {
	
	padding:0;
	font-size:0.8rem;
	margin:0;
	white-space: nowrap;
}

.block span {
	
	padding:0.1rem;
	margin:0;
}

.flexCell {
	
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width:100%;

}

.flexCell span {
	
	width:100%;
	
}

.noLineBreak {
	
	white-space: nowrap;
}

.emphasis {
  
  background: #D5D5E9;
  
}

.emphasis2 {
  
  background: #ccedeb;
  
}

.emphasis3 {
  
  background: #e7efdb;
  
}

.emphasis4 {
  
  background: #f5e4c0;
  
}

.color1 {
	
	color:#333333;
	background: #ccedeb;
}

.color2 {
	
	color:#333333;
	background: #D5D5E9;
}

.color3 {
	
	color:#333333;
	background: #e7efdb;
}

/***** shapes ******/

.circle, .square, .diamond, .triangle, .hexagon {
	
	clip-path: circle(50% at 50% 50%);
	background-color:#E4E4E4;
	padding:0.75rem;
	font-size:0.8rem;
	color:#333;
	display: inline-flex;
	align-content: center;
	justify-content: center;
	width:1rem;
	height:1rem;
	line-height: 0;
	margin:0 0.25rem;
	
}


.square {
	
	clip-path: none;
	
}

.diamond {
	
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	
}

.triangle {
	
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	line-height: 0.5rem
}

.hexagon {
	
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}


/***** text alignment *******/

.left {
  
  text-align:left;
}

.center {
  
  text-align:center
}

.right {
  
  text-align:right;
}

.captionRight {
	
	position: absolute;
	top:50%;
	right:-2.5rem;
	writing-mode: vertical-rl;
}

.captionLeft {
	
	position: absolute;
	top:50%;
	left:-2.5rem;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	
}

.captionTop{
	
	caption-side:top;
	text-align: center;
}

.captionBottom {
	
	caption-side:bottom;
	text-align: center;
}

 img {
    
    margin: 1rem auto;
    display:block;
    
  }

@media screen and (max-width: 780px) {

table {
  
display:block !important;

  
}
  
  .table-responsive {
  
  width:100% !important;
}
  
  .container {
    
    max-width:450px;
    width:100%;
  }
  
 
   img {
    
    width:100%;
    
  }
 